@font-face {
    font-family: "Script1-Casual";
    src: url("../public/fonts/script1-script-casual-normal.ttf");
}

:root {
    --main-header-weight: 4rem;
    --z-index-main-header: 900;
}

.top-margin-from-main-header {
    margin-top: var(--main-header-weight);
}

.text-small {
    font-size: 0.75rem;
}

.text-almost-medium {
    font-size: 0.875rem;
}

.no-decoration {
    text-decoration: none;
}

.vertical-align-middle {
    vertical-align: middle;
}

.script-casual {
    font-family: Script1-Casual, monospace;
}

.bg-before-transparent::before {
    background: transparent;
}

.bg-canvas-base {
    background-color: var(--v-canvas-base);
}

.bg-database {
    background-color: var(--v-data-base) !important;
}

.themed-border {
    border: thin solid var(--v-border-base);
}

.radius-1 {
    border-radius: 0.25rem;
}

.v-dialog--fullscreen {
    padding-top: var(--main-header-weight);
}

.cursor-pointer {
    cursor: pointer;
}

.disabled-gray {
    color: #9E9E9E;
}

.footer-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: thin solid rgba(255, 255, 255, 0.12);
    padding: 0 8px;
}

.footer-pagination button {
    width: 43px;
    margin-left: 7px;
}

.bcd-table {
    background: var(--v-data-base) !important;
}

.bcd-table tbody tr:hover {
    background: var(--v-sidebar-base) !important;
}

.chip {
    opacity: 1;
}