@font-face {
    font-family: "Script1-Casual";
    src: url("/fonts/script1-script-casual-normal.ttf");
}

:root {
    --main-header-weight: 4rem;
    --z-index-main-header: 900;
}

.top-margin-from-main-header {
    margin-top: var(--main-header-weight);
}

.text-small {
    font-size: 0.75rem;
}

.text-almost-medium {
    font-size: 0.875rem;
}

.no-decoration {
    text-decoration: none;
}

.vertical-align-middle {
    vertical-align: middle;
}

.script-casual {
    font-family: Script1-Casual, monospace;
}

.bg-before-transparent::before {
    background: transparent;
}

.bg-canvas-base {
    background-color: var(--v-canvas-base);
}

.themed-border {
    border: thin solid var(--v-border-base);
}

.radius-1 {
    border-radius: 0.25rem;
}

.v-dialog--fullscreen {
    padding-top: var(--main-header-weight);
}